# Ignore common secrets and sensitive files
*.env
.env.*
*.secret
*.key
*.pem
*.crt
*.p12
*.pfx
*.jks
*.keystore
*.credentials
*.config
secrets.*
config/secrets/*
config/*.env
config/*.secret
*.sqlite
*.db
*.token
*.password
*.aws
*.gcp
*.azure
*.vault
*.cert
*.csr
*.p7b
*.p7c
*.asc
*.pgp
*.gpg
*.ssh
id_rsa*
id_dsa*
id_ecdsa*
id_ed25519*
# Ignore any file containing 'secret' or 'key' in its name
*secret*
*key*